

body{
  background:#FCA33F;
  font-family: Georgia;
}

h1{
  font-weight: 700;
  font-size:149%;
  margin-bottom: 3%;
  margin-top:3%;
margin-left: 10%;
color:white;
}
.contain{
  
  font-weight: normal;
  font-size:100%;
  padding: 3% 1% 2% 2%;
  margin:auto;
width:30%;
border-radius: 14px;
background:white;

}

.field{

padding-bottom: 5%;

}

